.water-mark__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.water-mark-content {
  color: rgba(163, 55, 55, 0.2);
  width: 100%;
  height: 100%;
  background-color: rgb(166 163 163 / 99%);
  z-index: 200;
}

.pdf-container {
  width: 100%;
  height: 95vh;
  background-color: #e4e4e4;
  /* overflow-y: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.rpv-toolbar-right {
  display: none !important;
}

.thumbnail__wrapper {
  overflow-y: scroll;
  width: 10%;
  height: 95vh;
}
